@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --bg-primary: #d82028;
  --bg-secondary: #373656;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-family-tertiary: "Lato", sans-serif;

  --color-white: #fff;
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --footer-bg-color: #880808;
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* .reg-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #e3e5fc;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.reg-container {
  width: 100%;
  height: 100vh;
  /* background-color: coral; */
  /* position: relative; */
  /* box-shadow: 4px 2px 6px #cbced1; */
  /* border: 1px solid rgb(19, 8, 8); */
  display: flex;
}
.signup-container {
  /* background-color: lightcoral; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px 30px 20px 20px; */
  padding-top: 50px;
  row-gap: 20px;
  /* border: 1px solid red; */
  /* height: 100%; */
}
.logo-image {
  width: 200px;
  /* margin-left: 50px; */
}
.image-container {
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
  /* position: relative; */
  /* background-color: #7882f3; */
  /* background-image: linear-gradient(#7882f3, #6569f0); */
  /* background-color: #6d74f2; */
  position: relative;
}
.reg-bg-image {
  height: 100%;
  width: 100%;
  /* position: absolute;
  right: 0; */
}
.reg-title {
  width: 400px;
  /* border: 1px solid red; */
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  /* top: 40px;
  left: 180px; */
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 35px;
  font-weight: 650;
}
.input-container {
  /* border: 1px solid blue; */
  width: 350px;
  /* margin-left: 52px; */
  position: relative;
}
.name-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  outline: none;
}
.name-label {
  position: absolute;
  left: 20px;
  left: 1.5rem;
  top: 15px;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
  cursor: text;
}
.name-input:focus + .name-label {
  top: -3px;
  left: 1.3rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  cursor: default;
}
.input-container input:focus {
  border: 2px solid #1a73e8;
}
.signup-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 350px;
  /* margin-left: 52px; */
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  /* text-align: center; */
  /* background: #24cfaa; */
  background-color: var(--bg-secondary);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signup-button:hover {
  /* background: #2fdbb6; */
  background-color: #fff;
  color: var(--bg-secondary);
}
.signup-button:active {
  /* background: #1da88a; */
  background-color: #555;
}

@media all and (max-width: 1300px) {
  .signup-container {
    padding-top: 30px;
  }
  .input-container,
  .signup-button {
    width: 300px;
  }
}

@media all and (max-width: 1000px) {
  .input-container,
  .signup-button {
    width: 280px;
  }
}
@media all and (max-width: 900px) {
  .input-container,
  .signup-button {
    width: 250px;
  }
}
@media all and (max-width: 750px) {
  .input-container,
  .signup-button {
    width: 230px;
  }
}
@media all and (max-width: 700px) {
  .reg-container {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .input-container,
  .signup-button {
    width: 350px;
  }
  .image-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 420px;
  }
  .signup-container {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 430px) {
  .image-container {
    width: 90%;
  }
  .reg-title {
    width: 350px;
    font-size: 30px;
    top: 40px;
  }
  .input-container,
  .signup-button {
    width: 300px;
  }
}
@media all and (max-width: 400px) {
  .input-container,
  .signup-button {
    width: 270px;
  }
}
@media all and (max-width: 372px) {
  .reg-title {
    width: 330px;
    font-size: 28px;
    top: 30px;
  }
  .input-container,
  .signup-button {
    width: 250px;
  }
}
@media all and (max-width: 352px) {
  .reg-title {
    width: 320px;
    font-size: 25px;
  }
  .input-container,
  .signup-button {
    width: 240px;
  }
}
@media all and (max-width: 330px) {
  .input-container,
  .signup-button {
    width: 230px;
  }
  .reg-title {
    width: 260px;
    font-size: 23px;
  }
}
@media all and (max-width: 315px) {
  .input-container,
  .signup-button {
    width: 220px;
  }
}
@media all and (max-width: 300px) {
  .input-container,
  .signup-button {
    width: 200px;
  }
}
@media all and (max-width: 290px) {
  .input-container,
  .signup-button {
    width: 190px;
  }
  .reg-title {
    width: 240px;
    font-size: 21px;
  }
}
