@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --bg-primary: #d82028;
  --bg-secondary: #373656;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-family-tertiary: "Lato", sans-serif;
  --color-white: #fff;
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;
  --footer-bg-color: #880808;
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.reg-navbar {
  width: 100%;
  height: 70px;
  background-color: #f3eed9;
}
.reg-container {
  width: 100%;
  height: 90vh;
  display: flex;
}
.signup-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  row-gap: 20px;
}
.logo-image {
  width: 200px;
}
.image-container {
  width: 60%;
  height: 90%;
  position: relative;
}
.reg-bg-image {
  width: 100%;
  padding-top: 40px;
}
.reg-title {
  width: 420px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  font-family: var(--font-family-primary);
  font-size: 35px;
  font-weight: 650;
}

.input-container {
  width: 230px;
  position: relative;
  margin-bottom: 30px;
}
.name-input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  outline: none;
}
.name-input:focus::placeholder {
  color: #fff;
}
.name-input::placeholder {
  color: var(--input-color);
  font-size: var(--normal-font-size);
  padding: 0 1rem;
}
.name-label {
  display: none;
  pointer-events: none;
  position: absolute;
  left: 1.5rem;
  top: 15px;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
  cursor: text;
}
.name-input:focus + .name-label {
  display: inline;
  top: -3px;
  left: 1.3rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
  cursor: default;
}

.input-container input:focus {
  border: 2px solid #1a73e8;
}

.errors {
  position: absolute;
  color: red;
  margin-bottom: 20px;
}
.signup-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  background-color: var(--bg-secondary);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signup-button:hover {
  background-color: #fff;
  color: var(--bg-secondary);
}
.signup-button:active {
  background-color: #555;
}

@media all and (max-width: 1300px) {
  .signup-container {
    padding-top: 30px;
  }
}

@media all and (max-width: 1000px) {
  .reg-title {
    position: relative;
  }
  .image-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media all and (max-width: 800px) {
  .reg-container {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .image-container {
    width: 420px;
  }
  .signup-container {
    margin-bottom: 50px;
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .image-container {
    width: 90%;
  }
  .signup-button {
    width: 120px;
  }
  .reg-title {
    width: 300px;
    font-size: 24px;
    top: 10px;
  }
  .reg-navbar {
    height: 40px;
  }
  .input-container {
    width: 200px;
    margin-bottom: 17px;
  }
  .name-input {
    height: 35px;
  }
  .reg-bg-image {
    padding-top: 0;
  }
  .signup-container {
    padding-top: 0%;
  }
}
@media all and (max-width: 315px) {
  .reg-title {
    font-size: 22px;
    width: 270px;
  }
}
